# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Django database
db.sqlite3
*.sqlite3

# Environment variables
.env

# Virtual environment
venv/
.env/
.env.bak/
.env.local

# Static and media files
/staticfiles/
/media/
/uploads/
/tmp/

/*.mp4
*.mkv
*.avi
*.mov

# Logs
*.log
logs/
*.log.*

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node (if frontend included)
node_modules/
